@use '../colors' as *;
@use '../Markdown';

.project {
  .project-name {
    font-size: 2rem;
    width: min-content;
    margin: auto;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    border: 0.25rem solid darken($primary, 30%);
    background-color: $primary;
  }
  h3 {
    font-size: 1.5rem;
  }
  .markdown-text {
    // display: block;
    text-align: initial;
  }
}
